<nav class="navigacion bg-light">
  <header class="d-flex flex-wrap justify-content-center py-3">
    <p
      class="ms-3 me-2 d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
    >
      <span class="fs-4 center"
        >Friadenrich Medicina y Salud - Administrador</span
      >
    </p>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="mi-perfil" class="nav-link">Mi perfil</a>
      </li>
      <li class="nav-item">
        <a routerLink="usuarios" class="nav-link">Usuarios</a>
      </li>

      <li class="nav-item">
        <a routerLink="turnos" class="nav-link">Turnos</a>
      </li>
      <li class="nav-item me-3">
        <button (click)="Salir()" class="btn btn-danger" aria-current="page">
          Salir
        </button>
      </li>
    </ul>
  </header>
</nav>
<router-outlet></router-outlet>
