.in-fecha {
  border: none;
}

.in-fecha:focus {
  outline: none;
}

.in-fecha-der {
  text-align: end;
}
.boton {
  border: 2px #000 solid;
  cursor: pointer;
  vertical-align: middle;
  align-self: center;
  margin: 2px;
  flex: 30px;
}
