<div *ngIf="usr !== null">
  <div class="container text-center mt-1" style="max-width: 500px">
    <div *ngIf="usr.perfil === 'Paciente'; else elseBlock">
      <img
        width="100%"
        height="325px"
        style="object-fit: cover"
        src="{{ usr.imgSecundaria }}"
      />
    </div>
    <ng-template #elseBlock>
      <div style="height: 300px" class="mb-5">
        <img
          src="../../assets/LOGO.png"
          width="100%"
          height="325px
        "
          style="object-fit: cover"
        />
      </div>
    </ng-template>
    <img
      style="
        position: absolute;
        left: 50%;
        top: 350px;
        transform: translate(-50%, -150px);
        width: 200px;
        height: 200px;
        object-fit: cover;

        border-radius: 50%;
        background-color: #fff;
        border: 5px #000 solid;
      "
      src="{{ usr.imgPerfil }}"
    />
    <h1 class="mt-1">
      {{ usr.nombre + " " + usr.apellido }}
    </h1>
    <h5>{{ usr.mail }}</h5>
    <h5>{{ usr.perfil }}</h5>
    <h6>{{ usr.edad + " años" }}</h6>
    <h6>{{ "DNI: " + usr.dni }}</h6>
    <!--Mis horarios-->
    <div *ngIf="usr.perfil === 'Especialista'">
      <br />
      <hr />
      <h1>Mis horarios</h1>
      <div *ngFor="let e of usr.especialidad; let i = index">
        <h4>{{ "Horarios como " + e.nombre }}</h4>
        <div *ngFor="let h of e.horarios">
          <p>{{ h.dia + "/" + h.mes + " " + h.hora + ":" + h.minuto }}</p>
        </div>
        <button class="btn btn-light" (click)="seleccionarEspecialidad(e, i)">
          Agregar horario
        </button>
        <br />
        <br />
      </div>

      <div *ngIf="esp !== undefined">
        <br />
        <hr />
        <h3>Agregar horario para {{ esp.nombre }}</h3>
        <input
          [(ngModel)]="dia"
          style="width: 30px"
          class="in-fecha in-fecha-der"
        /><span>/</span>
        <input [(ngModel)]="mes" style="width: 30px" class="in-fecha" /><span>
          -
        </span>
        <input
          [(ngModel)]="hora"
          style="width: 30px"
          class="in-fecha in-fecha-der"
        /><span>:</span>
        <input [(ngModel)]="minuto" style="width: 30px" class="in-fecha" />
        <button class="btn btn-success" (click)="agregarHorario()">
          Agregar horario
        </button>
      </div>
      <div style="height: 400px"></div>

      <!-- Historia clinica -->
    </div>
    <div *ngIf="usr.perfil === 'Paciente'">
      <br />
      <hr />
      <h1>Mi historia</h1>
      <div *ngIf="historia">
        <div class="card">
          <div *ngIf="auth.usuario">
            <h3 *ngIf="auth.usuario!.perfil !== 'Paciente'" class="mt-2">
              {{
                "Historia de " +
                  historia.paciente.nombre +
                  " " +
                  historia.paciente.apellido
              }}
            </h3>
          </div>
          <h5 class="mt-2">Datos del paciente:</h5>
          <div class="row p-0">
            <p class="col-6">{{ historia.altura + " cm." }}</p>
            <p class="col-6">{{ historia.peso + " kg." }}</p>
            <p class="col-6">{{ historia.temperatura + "ºC" }}</p>
            <p class="col-6">{{ historia.presion + " PA" }}</p>
          </div>
          <h5 class="mt-2">Diagnósticos guardados:</h5>
          <div *ngFor="let d of historia.dinamicos">
            <p>{{ d.clave + ": " + d.valor }}</p>
          </div>
          <button class="btn btn-success mt-2" (click)="descargarMiHistoria()">
            Descargar
          </button>
        </div>
      </div>
      <div style="height: 200px"></div>
    </div>
  </div>
</div>
