<div class="container" style="max-width: 502px">
  <form [formGroup]="forma" (ngSubmit)="PostEspecialista()">
    <h1>Registro de especialista</h1>
    <h3>Datos personales</h3>
    <div class="form-group">
      <p class="mb-1 mt-3">Nombre</p>
      <input formControlName="nombre" class="form-control" />
      <div class="invalid">
        <small
          class="invalid"
          *ngIf="
            forma.controls['nombre'].errors !== null &&
            forma.controls['nombre'].touched
          "
        >
          El nombre es requerido
        </small>
      </div>
    </div>
    <div class="form-group">
      <p class="mb-1 mt-3">Apellido</p>
      <input formControlName="apellido" class="form-control" />
      <div class="invalid">
        <small
          class="invalid"
          *ngIf="
            forma.controls['apellido'].errors !== null &&
            forma.controls['apellido'].touched
          "
        >
          El apellido es requerido
        </small>
      </div>
    </div>
    <div class="form-group">
      <p class="mb-1 mt-3">Edad</p>
      <input type="number" formControlName="edad" class="form-control" />
      <div class="invalid">
        <small
          class="invalid"
          *ngIf="
            forma.controls['edad'].errors !== null &&
            forma.controls['edad'].touched
          "
        >
          La edad debe ser mayor a 18 y menor a 99
        </small>
      </div>
    </div>
    <div class="form-group">
      <p class="mb-1 mt-3">DNI</p>
      <input formControlName="dni" class="form-control" />
      <div class="invalid">
        <small
          class="invalid"
          *ngIf="
            forma.controls['dni'].errors !== null &&
            forma.controls['dni'].touched
          "
        >
          El DNI debe tener 7 u 8 dígitos
        </small>
      </div>
    </div>

    <div class="form-group">
      <p class="mb-1 mt-3">Especialidades</p>
      <app-elegir-especialidad
        [permitirAniadir]="true"
        (elegirEspecialidad)="ElegirEspecialidad($event)"
      ></app-elegir-especialidad>
      <div class="invalid">
        <small class="invalid" *ngIf="especialidades.length == 0">
          Seleccione al menos una especialidad
        </small>
      </div>
    </div>
    <div class="form-group">
      <p class="mb-1 mt-3">Imagen de perfil</p>
      <input
        type="file"
        formControlName="img-perfil"
        (change)="onFileSelected($event)"
        class="form-control"
        accept="image/png, image/gif, image/jpeg"
      />
      <div class="invalid">
        <small
          class="invalid"
          *ngIf="
            forma.controls['img-perfil'].errors !== null &&
            forma.controls['img-perfil'].touched
          "
        >
          Cargue una imagen
        </small>
      </div>
    </div>
    <h3>Datos de ingreso</h3>
    <div class="form-group">
      <p class="mb-1 mt-3">Correo electrónico</p>
      <input formControlName="mail" class="form-control" />
      <div class="invalid">
        <small
          class="invalid"
          *ngIf="
            forma.controls['mail'].errors !== null &&
            forma.controls['mail'].touched
          "
        >
          Escriba un correo valido
        </small>
      </div>
    </div>
    <div class="form-group">
      <p class="mb-1 mt-3">Contraseña</p>
      <input type="password" formControlName="password" class="form-control" />
      <div class="invalid">
        <small
          class="invalid"
          *ngIf="
            forma.controls['password'].errors !== null &&
            forma.controls['password'].touched
          "
        >
          La contraseña es muy corta
        </small>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary mt-5 mb-5" [disabled]="!forma.valid">
        Registrarlo
      </button>
    </div>
  </form>
</div>

<!--
    Nombre
    Apellido
    Edad
    DNI
    Obra Social
    Mail
    Password
    2 imágenes para su perfil.
-->
