<nav class="navigacion bg-light">
  <hr style="margin: 0" />
  <header class="d-flex flex-wrap justify-content-center py-3">
    <p
      class="ms-3 me-2 d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
    >
      <span class="fs-4 center">Sección Usuarios</span>
    </p>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="ver-usuarios" class="nav-link">Ver usuarios</a>
      </li>
      <li class="nav-item">
        <a routerLink="ver-historias" class="nav-link">Ver historias</a>
      </li>
      <li class="nav-item">
        <a routerLink="habilitar-especialistas" class="nav-link"
          >Habilitar Especialistas</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="generar-paciente" class="nav-link">Registrar Paciente</a>
      </li>
      <li class="nav-item">
        <a routerLink="generar-especialista" class="nav-link"
          >Registrar Especialista</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="generar-admin" class="nav-link">Registrar Admin</a>
      </li>
    </ul>
  </header>
</nav>
<router-outlet></router-outlet>
